
html{
    height: 100%;
}
body {
  background: linear-gradient(-45deg, #17384e, #257880, #8dd49d, #429455);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}
@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }

  50% {
      background-position: 100% 50%;
  }

  100% {
      background-position: 0% 50%;
  }
}

.change_formula{
    background-color: rgb(0, 0, 0);
    opacity: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 310px;
    width: 400px;
    padding: 25px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;

}



.change_formula h1{
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 34px;
    
}

.i1{
    color: #fff;
    padding: 20px;
    font-size: 24px;
    text-align: left;
    padding: 10px;
    color: #fff;
    margin: 0px 0px 30px 0px;
    font-weight: 400;
}
.change_formula form label{
    padding-right: 5px;
}

.change_formula form button {
    position: absolute;
    display: inline-block;
    padding: 10px 20px;
    color: #000000;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
   margin-top: 10px;
    margin-left: 45px;
    letter-spacing: 1px 
  }

  .change_formula button:hover {
    background: #17384e;
    color: #fdfdfd;
    border-radius: 5px;
    
  }
#logout {
    text-align: end;
    font-size: 20px;
    bottom: 0%;
    position: fixed;
    left:95%;
    

}
