<!DOCTYPE html>
<html lang="en">
<head>

  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'feed_app/mpagestyle.css' %}">
  <title>Document</title>
</head>
<body>
<div class="choices">
  <h1>Manager Home Page</h1>
<a class="opts" id="opt1" href="/viewStockRecord">
  <h2>STOCK RECORD</h2>
</a>
<a class="opts" id="opt2" href="/viewStock">
  <h2>CURRENT STOCK</h2>
</a>
<a class="opts" id="opt3" href="/addProduction">
  <h2>FEED PRODUCED</h2>
</a>
<a class="opts" id="opt4" href="/newstock">
  <h2>UPDATE STOCK</h2>
</a>
</div>  
<div class="notif">
{% for i,j in msg.items %}
<h1>Notification : </h1>
<h1>{{i}} : {{j}}</h1>
</div>
  {%endfor%}
</body>
</html>