<!DOCTYPE html>
<html lang="en">
<head>

    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'feed_app/feedproductionstyle.css' %}">
    <title>Document</title>
</head>

<body>
  {%csrf_token%}
    <h1>{{msg}}</h1>
    
    {% if user.is_authenticated %}
    <div class="feed-type">
      <h1>Update stock:</h1>
        <form method="post">
          <div class="i1">
          <label >Choose an Ing : </label>
          <select ing="" id="feed" name="dropdown">
            {% for i in ing %}
            <option value={{i}}>{{i}}</option>
            {%endfor%}
          </select><br>
          </div>
          <div class="i1">
          <label for="amt">Quantity :</label>
          <input type="number" id="quantity" name="quantity" value="10 tonne">
          <br>
          </div>
          <button type="submit"> Submit </button>
        </form>
    </div>
    {% endif %}
</body>
</html>