<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'feed_app/update.css' %}">
    <title>Document</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        {% for i,j in data.items %}
        <!-- {{i}}{{j}}<br> -->
        <label for={{i}}>{{i}}</label>
        <input type="number" id={{i}} name={{i}} placeholder={{j}}><br>
        {% endfor %}
        <button type="submit">Update</button>
    </form>
</body>
</html>